*{
    padding: 0px;
    margin: 0px;
}
ul{
    border: solid 1px;
    width: 330px;
    position: fixed;
    height: 100%;
    background-color: aqua;
    padding-top: 60px;
    list-style: none;
}
#text1{
    color: chocolate;
    font-size: 35px;
    font-weight: bold;
}
#text2{
    color: blueviolet ;
    font-size: 33px;
    font-weight: bold;
}
ul li{
    border: solid 1px coral;
    height: 50px;
    width: 160px;
    margin-left: 50px;
    background-color: aquamarine;
    text-align: center;
    line-height: 50px;
    border-radius: 20px;
    margin-bottom: 10px;
}
ul li a{
    color: chocolate;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}
ul li:hover{
    background-color: crimson;
}
#home{
    border: solid 1px;
    height: 620px;
    background-color: plum;
    padding-left: 335px;
}
#text3{
    color: linen;
    font-size: 58px;
}
#text4{
    color: cyan;
    font-size: 50px;
}
#text5{
    font-size: 22px;
    font-weight: bold;
}
#bt1{
    height: 60px;
    width: 200px;
    background-color: darkcyan;
    border-radius: 20px;
    color: whitesmoke;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;

}
#about{
    border: solid 1px;
    height: 620px ;
    background-color: cadetblue;
    padding-left: 335px;
}
#aboutme{
    font-size: 50px;
    color: greenyellow;
}
html{
    scroll-behavior: smooth;
}




